html,
body {
  height: 100%;
}

body {
  padding-bottom: 15px;
}

hr {
  border-top: 1px solid #8c8b8b;
  height: 1px;
  width: 100%;
  margin: 0 0 5px 0;
}

h4 {
  margin: 5px 0;
  font-size: 20px;
}

a,
a:hover,
a:focus {
  color: black;
  text-decoration: none;
}

.container {
  position: relative;
  min-height: 100%;
}

.center {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.left {
  display: flex;
  background: #cedff2;
  width: 100%;
  padding-bottom: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.9);
  border-radius: 5px;
}

.ui-autocomplete {
  background: white;
  border: 1px solid #333;
  list-style-type: none;
  text-align: none;
  width: 250px;
  cursor: pointer;
}

.ui-helper-hidden-accessible {
  display: none !important;
}

.lower {
  margin-top: 105px;
}

.wikiResults {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  border: 1px solid #333;
  margin-bottom: 10px;
  padding: 0 10px;
}

.wikiResults:nth-child(2n) {
  background: #ededed;
}

.button {
  border: none;
  padding: 7px;
  background: #d1d1d1;
}

.button:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
}

#wrapper {
  position: relative;
  margin-bottom: 10px;
  border: 1px solid #FFF;
  -webkit-transition: all .5s linear;
  -moz-transition: all1 .5s linear;
  -o-transition: all .5s linear;
  transition: all .5s linear;
}

#imageGlobe {
  margin-top: 75px;
}

#imageWords {
  padding-top: 10px;
}

#searchDiv {
  padding-top: 10px;
}

#searchButton, #randomButton {
  margin: 10px 5px 0 5px;
  border: 1px solid black;
}

#buttonDiv {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all1 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#author {
  text-align: center;
  color: #333;
  font-family: Raleway;
  font-size: 0.9em;
}

@media all and (max-width: 700px) {
  .left {
    display: inline-block;
  }
}
